@font-face {
    font-family: RobotoSlab;
    src: url("rsschool-cv/assets/fonts/Roboto_Slab/static/RobotoSlab-Regular.ttf")
}
@font-face {
    font-family: RobotoSlab;
    src: url("rsschool-cv/assets/fonts/Roboto_Slab/static/RobotoSlab-Bold.ttf");
}